VECTOR_STORE_HOST=localhost
VECTOR_STORE_PORT=6333

LLM_HOST=localhost
LLM_PORT=11434
LLM_MODEL=gemma3

EMBEDDING_HOST=localhost
EMBEDDING_PORT=11434
EMBEDDING_MODEL=nomic-embed-text

TELEGRAM_BOT_TOKEN=

